<!--h1>This is the Model's index page.</h1-->

<% if flash.has?(:err) %>
    <h3 style="color: red;"><%= flash[:err] %></h3>
<% end %>

<% if @user %>
    <div class="typewriter">
    <div class="typewriter-text"><h1>Welcome, <%= @user.name %>. Your movie list:</h1></div>
<% else %>
    <div class="typewriter">
    <div class="typewriter-text"><h2>All Users' Movies:</h2></div>
</div>
<% end %>


<% @movies.each do |movie| %>
    <h2><a href="/movies/<%= movie.id %>"><%= movie.title %></a></h2>
<% end %>
</div>